@mixin paged-desktop($width, $columns) {
  @include susy-breakpoint($width, $columns, lt-ie9) {
    $label-columns: 8;
    $field-columns: $columns - $label-columns;
    $grid-padding: 2em;

    @include general-desktop;

    tr {
      border: none;
    }

    .panel {
      @include container;
      @include tablemix($columns, $label-columns, $field-columns);

      border: 4px solid #dddddd;
      margin-top: 6em;
      padding: 3em $grid-padding 1.5em;
    }

    .item {
      @include span(last $columns);

      margin-bottom: 18px;
    }

    .item.horizontal {
      &.radio,
      &.check_box {
        .option {
          @include span(last $columns);

          .radiocheckwrapper { @include span(1); }
          .labelwrapper {
            @include span(last $columns - 1);
          }

          &.show_values {
            .value { @include span(1); }
            .labelwrapper {
              @include span(last $columns - 2);
            }
          }

          .subquestions {
            @include pre(1);
            @include span(23-$label-columns);

            .item {
              @include span(23-$label-columns);
              input { width: auto; }
            }

            .radiocheckwrapper {
              width: 10px;
              padding-right: 20px;
            }
            .labelwrapper {
              width: auto;
              float: none;
            }
          }
        }

        .inner-title { @include span(last $columns); }
      }

      &.string,
      &.textarea {
        input, textarea { @include span(last $columns); }
        .sized { width: auto; }
      }

      &.integer.slider,
      &.float.slider {
        .slider { @include span(last $columns); }
        .fd-form-element-hidden { display: none; }

        .labels {
          position: relative;
          height: 2em;
          padding-top: 4px;
          div {
            text-align: center;
            width: 400px;
            margin-left: -200px;
            position: absolute;
          }
          .first, :first-child {
            text-align: left;
            margin-left: 0;
          }
          .last { //, :last-child breaks ie8
            text-align: right;
            right: 0;
          }
        }
      }
    }

    .item.vertical {
      .main {
        @include span($label-columns);
      }

      .description-and-fields {
        @include span($field-columns omega);
        float: left;
        .description { @include text; }
      }

      &.radio,
      &.check_box {
        .option {
          @include span(last $field-columns of $field-columns);

          .radiocheckwrapper { @include span(1 of $field-columns); }
          .labelwrapper { @include span(last $field-columns - 1 of $field-columns); }

          &.show_values {
            .value { @include span(1 of $field-columns); }
            .labelwrapper { @include span(last $field-columns - 2 of $field-columns); }
          }

          .subquestions {
            @include pre(1);
            @include span($field-columns - 1 of $field-columns);

            .item {
              @include span($field-columns - 1 of $field-columns);
              .main { @include span(last $field-columns - 1 of $field-columns - 1); }
              input { width: auto; }
            }

            .radiocheckwrapper {
              width: 10px;
              padding-right: 20px;
            }
            .labelwrapper {
              width: auto;
              float: none;
            }
          }
        }

        .inner-title { @include span(last $field-columns of $field-columns); }
      }

      &.string,
      &.textarea {
        input, textarea { @include span(last $field-columns of $field-columns); }
        .sized { width: auto; }
      }

      &.integer.slider,
      &.float.slider {
        .slider { @include span(last $field-columns of $field-columns); }

        .slider-label-left {
          @include span(($field-columns)/2 of $field-columns);
          text-align: left;
        }

        .slider-label-right {
          @include span(last ($field-columns)/2 of $field-columns);
          text-align: right;
        }
      }
    }

    .progress-bar {
      @include span(last $total-columns);
      margin: 1.5em (-$grid-padding) -1.5em;
      padding: 1.5em $grid-padding;

      .progress-wrapper {
        .progress-slider {
          background-position: 0 4px;
          display: inline-block; zoom: 1; *display: inline; // IE7 Hack
          .progress-stop {
            margin: 0 3px;
            width: 10px;
            height: 10px;
          }
          &.long-list {
            display: inline-block; zoom: 1; *display: inline; // IE7 Hack
          }
        }
      }
    }

    .buttons {
      @include span(last $total-columns);
      margin: 1.5em (-$grid-padding) -1.5em;
      padding: 1.5em $grid-padding;
      border-bottom: 0;

      .back  { @include span($columns / 4); }
      .prev  { @include span($columns / 4); }
      .abort { @include span($columns / 4); text-align: center; display: block; }
      .print { @include span($columns); text-align: right; }
      .next  { @include span(last $columns / 4); text-align: right; }
      .save  { @include span(last $columns / 4); text-align: right; }
    }
  }
}
